<ion-content>
  <h1>Welcome to</h1>
  <h2>Dozn</h2>
  <h4>Intro text</h4>
  <form #myForm="ngForm">
    <label>ACCESS CODE</label>
    <input name="accessCode" ngModel>
    <label>FEATURE</label>
    <span class="custom-dropdown">
      <select name="feature" ngModel>
        <option>What feature are you testing?</option>
        <option *ngFor="let feature of features | async" [value]="feature.id">{{feature.name}}</option>
      </select>
    </span>
    <label>FLOW</label>
    <span class="custom-dropdown">
      <select name="flow" ngModel>
        <option>What flow are you testing?</option>
        <option *ngFor="let flow of flows | async" [value]="flow.id">{{flow.name}}</option>
      </select>
    </span>
    <div class="submit-button">
      <button type="submit" (click)="onSubmit(myForm)">Begin Session</button>
    </div>
  </form>
</ion-content>
